<h1>Todas las cajas fuertes</h1>
<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <ng-template #menu>
    @for (column of _brnColumnManager.allColumns; track column.name) {
    <button hlmMenuItemCheckbox [disabled]="_brnColumnManager.isColumnDisabled(column.name)"
      (triggered)="_brnColumnManager.toggleVisibility(column.name)">
      <span>{{ column.label }}</span>
    </button>
    }
  </ng-template>
</div>

<brn-table hlm stickyHeader class="border-border mt-4 block h-[335px] overflow-auto rounded-md border"
  [dataSource]="_filteredSortedPaginatedPayments()" [displayedColumns]="_allDisplayedColumns()" [trackBy]="_trackBy">
  <brn-column-def name="select" class="w-12">
    <hlm-th *brnHeaderDef>
      <hlm-checkbox [checked]="_checkboxState()" (changed)="handleHeaderCheckboxChange()" />
    </hlm-th>
    <hlm-td *brnCellDef="let element">
      <hlm-checkbox [checked]="_isPaymentSelected(element)" (changed)="togglePayment(element)" />
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="status" class="w-32 sm:w-40">
    <hlm-th truncate *brnHeaderDef>Todo</hlm-th>
    <hlm-td truncate *brnCellDef="let element">
      Nombre
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="email" class="w-60 lg:flex-1">
    <hlm-th *brnHeaderDef>
      <button hlmBtn size="sm" variant="ghost" (click)="handleEmailSortChange()">
        Nombre
        <hlm-icon class="ml-3" size="sm" name="lucideArrowUpDown" />
      </button>
    </hlm-th>
    <hlm-td truncate *brnCellDef="let element">
      Nombre
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="amount" class="justify-end w-20">
    <hlm-th *brnHeaderDef>Carpeta</hlm-th>
    <hlm-td class="font-medium tabular-nums" *brnCellDef="let element">
      Carpeta
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-16">
    <hlm-th *brnHeaderDef>°</hlm-th>
    <hlm-td *brnCellDef="let element">
      <button hlmBtn variant="ghost" class="h-6 w-6 p-0.5" align="end">
        <hlm-icon class="w-4 h-4" name="lucideMoreHorizontal" />
      </button>
      <ng-template #menu>
      </ng-template>
    </hlm-td>
  </brn-column-def>
  <div class="flex items-center justify-center p-20 text-muted-foreground" brnNoDataRow>No data</div>
</brn-table>
<div class="flex flex-col justify-between mt-4 sm:flex-row sm:items-center"
  *brnPaginator="let ctx; totalElements: _totalElements(); pageSize: _pageSize(); onStateChange: _onStateChange">
  <span class="text-sm text-muted-foreground text-sm">{{ _selected().length }} of {{ _totalElements() }} row(s)
    selected</span>
  <div class="flex mt-2 sm:mt-0">
  </div>
</div>